<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.antsapps.triples"
  android:versionCode="8"
  android:versionName="1.2.3">

  <uses-sdk
    android:minSdkVersion="8"
    android:targetSdkVersion="17" />

  <uses-permission android:name="android.permission.VIBRATE" />

  <application
    android:icon="@drawable/launcher"
    android:label="@string/app_name"
    android:theme="@style/Theme.Sherlock.Light.DarkActionBar.TabColor">
    <meta-data
      android:name="com.google.android.gms.games.APP_ID"
      android:value="@string/app_id" />

    <activity
      android:name=".ClassicGameListActivity"
      android:label="Classic">
    </activity>
    <activity
      android:name=".ClassicGameActivity"
      android:label="Classic" />
    <activity
      android:name=".ArcadeGameActivity"
      android:label="Arcade" />
    <activity
      android:name=".ArcadeGameListActivity"
      android:label="Arcade">
      <intent-filter
        android:label="@string/app_name">
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".HelpActivity"
      android:label="@string/help"
      android:theme="@style/HelpDialog" />
    <activity
      android:name=".SettingsActivity"
      android:label="@string/settings" />
  </application>

</manifest>