<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.antsapps.triples"
  android:versionCode="9"
  android:versionName="1.3">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application
      android:icon="@drawable/launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <meta-data
      android:name="com.google.android.gms.games.APP_ID"
      android:value="@string/app_id" />

    <activity
      android:name=".ClassicGameListActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ClassicGameActivity"
      android:label="Classic" />
    <activity
      android:name=".ArcadeGameActivity"
      android:label="Arcade" />
    <activity
      android:name=".ArcadeGameListActivity"/>
    <activity
      android:name=".HelpActivity"
      android:label="@string/help"
      android:theme="@style/HelpDialog" />
    <activity
      android:name=".SettingsActivity"
      android:label="@string/settings" />
  </application>

</manifest>